/*
 * Site
 */
body {
  background: url("../images/fabric_of_squares_gray/fabric_of_squares_gray.png");
  background-repeat: repeat;
  font-family: 'Montserrat', sans-serif;
}

/**
 * Site header
 */
.site-header {
  background: linear-gradient(180deg, rgba(0,50,98,1) 60%, transparent 40%);
  padding-top: 0.5em;
  padding-bottom: 1.75em;
  z-index: 10;
}

.site-header .wrapper {
  margin: 0px auto;
  padding: 0px 1.25em;
}

/* Overwriting navbar-default colors */
.navbar {
  background-color: transparent;
  border-color: transparent;
}

/* Styling navbar list */
.navbar-collapse {
  position: relative;
  float: right;
  padding-top: 3em;
  padding-bottom: 3em;
}

.navbar-opt {
  font-size: 135%;
}

.navbar-default .navbar-nav>li>a {
  padding-left: $spacing_unit/2;
  padding-right: $spacing_unit/2;
  color: white;
}

.navbar-default .navbar-nav>li>a:hover {
  color: rgba(128,130,133,1);
}

.navbar-opt:hover {
  color: rgba(128,130,133,1);
}

.navbar-header {
  position: relative;
  float: left;
}

.site-logo img {
  max-width: 10em;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >
 a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
}

/**
 * Site footer
 */

.site-footer {
    background: url("../images/fabric_of_squares_gray/fabric_of_squares_gray_darker.png");
    background-repeat: repeat;
    border-top: 2px solid rgba(100,100,100,1);
    padding: $spacing-unit 0;
    font-size: 0.75em;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(25% - (#{$spacing-unit} / 2));
    width:         calc(25% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(40% - (#{$spacing-unit} / 2));
    width:         calc(40% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

.footer-col ul {
    margin: auto;
}

.glyphicon-envelope {
    width: 2em;
    height: 1.5em;
}


/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

/**
 * Events
 */
.fb-post {
    margin-top: 1em;
    margin-bottom: 1em;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

/**
 * About
 */
.profile-col {
    margin-top: 15px;
    margin-bottom: 15px;

}

.profile-cell {
    margin:auto;
}
