<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% if page.url == "/events.html" %}
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.2";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    {% endif %}

    {% include header.html %}

    {% if page.url == "/" %}
    <div class="post-header">
        <div class="wrapper">
            {% include carousel.html %}
        </div>
    </div>
    {% endif %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
